<div class="w-full py-5 overflow-x-auto">
  <!-- Partner Info Section -->
  <div class="flex justify-between items-center bg-white border border-white-edgar p-5 rounded shadow-md mb-5 gap-2">
    <div class="flex items-center gap-5">
      <div class="w-12 h-12 rounded-full overflow-hidden">
        <img src="assets/icons/avatar.svg" alt="Partner Avatar" class="w-full h-full object-cover" />
      </div>
      <div>
        <h2 class="text-h4 font-bold text-black">Partner Dashboard</h2>
        <p class="text-h6 font-normal font-secondary text-neutral-gray">
          You have <span class="text-primary font-medium underline">{{ pendingTickets }}</span> Pending Tickets &
          <span class="text-primary font-medium underline">{{ resolvedTickets }}</span> Resolved This Month.
        </p>
      </div>
    </div>
    <app-button label="Register New Ticket"
                type="button"
                buttonType="primary"
                iconUrl="assets/icons/plus.svg"
                customClass="py-4 px-8"
                (click)="navigateToRegisterTicket()">
    </app-button>
  </div>

  <!-- Filters -->
  <div class="flex flex-col items-center bg-white rounded border border-white-edgar">
    <div class="flex w-full gap-4 items-center justify-between border-b p-5 border-white-edgar">
      <h1 class="font-bold text-black text-h4">Tickets List</h1>
      <button class="flex items-center justify-between gap-x-4" (click)="openFilterModal()">
        <img src="assets/icons/filter.svg" />
        <p class="text-tertiary font-semibold text-h5">Filters</p>
      </button>
    </div>

    <div class="flex flex-row w-full p-5 justify-between items-center gap-5">
      <!--<div class="flex items-center">
        <label class="text-neutral-gray text-p font-secondary mr-2">Rows Per Page</label>
        <select [value]="pageSize"
                (change)="onPageSizeChange($event)"
                class="px-2 py-1 border border-white-edgar rounded focus:outline-primary font-secondary text-neutral-gray text-p form-select">
          <option *ngFor="let option of pageSizeOptions" [value]="option">
            {{ option }}
          </option>
        </select>
        <label class="text-neutral-gray text-p font-secondary ml-2">Entries</label>
      </div>-->
      <div class="flex flex-col sm:flex-row items-center gap-4">
        <input type="text" placeholder="Search for Tickets" class="flex-1 px-6 py-2 border border-white-edgar rounded focus:border-primary focus:outline-none">
        <app-button label="Search"
                    type="button"
                    buttonType="primary"
                    customClass="h-[35px] px-8">
        </app-button>
      </div>
    </div>


    <!-- Ticket List -->
    <table class="table-auto border-collapse w-full">
      <thead class="bg-[#F6F6F6]">
        <tr>
          <th class="px-4 py-2">Ticket ID</th>
          <th class="px-4 py-2">Created At</th>
          <th class="px-4 py-2">Customer Name</th>
          <th class="px-4 py-2">No of Products</th>
          <th class="px-4 py-2">Priority</th>
          <th class="px-4 py-2">No of Issues</th>
          <th class="px-4 py-2">Updated At</th>
          <th class="px-4 py-2">Status</th>
          <th class="px-4 py-2"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="filteredTickets.length === 0">
          <td colspan="12" class="text-center py-8">No tickets available</td>
        </tr>
        <tr *ngFor="let ticket of filteredTickets" class="border-white-edgar border-b">
          <td class="px-4 py-6 font-bold text-p">{{ ticket.id }}</td>
          <td class="px-4 py-2 font-secondary text-h6 font-normal text-tertiary">{{ ticket.createdAt }}</td>
          <td class="px-4 py-2 font-secondary text-h6 font-normal text-neutral-gray">{{ ticket.customerDetails?.name}}</td>
          <td class="px-4 py-2 font-secondary text-h6 font-normal text-neutral-gray">{{ ticket.noOfProducts }}</td>
          <td class="px-4 py-2 flex justify-center items-center">
            <div [style.backgroundColor]="getPriorityStyles(ticket.priority).bgColor"
                 class="flex items-center justify-center rounded-full p-1 w-12 h-12">
              <img [src]="getPriorityStyles(ticket.priority).icon"
                   alt="Priority Icon"
                   class="w-4 h-4" />
            </div>
          </td>
          <td class="px-4 py-2 font-secondary text-h6 font-normal text-neutral-gray">{{ ticket.noOfIssues }}</td>
          <td class="px-4 py-2 font-secondary text-h6 font-normal text-tertiary">{{ ticket.updatedAt }}</td>
          <td [style.backgroundColor]="getStatusStyles(ticket.status).bgColor"
              class="px-4 py-2 font-secondary text-h6 font-normal"
              [style.textColor]="getStatusStyles(ticket.status).textColor">{{ ticket.status }}</td>
          <td class="px-4 py-2 flex items-center gap-4">
            <img src="assets/icons/edit.svg" alt="Edit Icon"
                 class="w-5 h-5 cursor-pointer"
                 title="Edit Ticket">
            <img src="assets/icons/delete.svg" alt="Delete Icon"
                 class="w-5 h-5 cursor-pointer"
                 title="Delete Ticket">
            <app-button label="Manage"
                        type="button"
                        buttonType="secondary"
                        customClass="py-3 px-8"
                        (click)="navigateToTicketDetails(ticket.id)">
            </app-button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="flex flex-row w-full items-center justify-between px-6 border-t border-white-edgar ">
      <div>
        <span class="font-secondary font-normal text-p text-neutral-gray">
          {{ currentPageRange }}
        </span>
      </div>
      <!--<div>
        <mat-paginator [length]="totalItems"
                       [pageSize]="pageSize"
                       (page)="onPageChange($event)"
                       class="!bg-transparent">
        </mat-paginator>
      </div>-->
    </div>
  </div>

  <!-- Pagination -->
  <!--<pagination-controls (pageChange)="page = $event"></pagination-controls>-->
</div>


<app-filter-modal *ngIf="showFilterModal"
                  [filters]="filterConfigs"
                  (filterApplied)="handleFilters($event)" 
                  (modalClosed)="closeFilterModal()">
</app-filter-modal>
