.table-container {
  max-height: 250px;
  overflow-y: auto; 
}

.table-container::-webkit-scrollbar {
  width: 5px;
}

.table-container::-webkit-scrollbar-thumb {
  background: #2f4858;
 
}

.table-container::-webkit-scrollbar-track {
  background: #e5e5e5;
}

.container-timeline {
  max-height: 500px; 
  overflow-y: auto; 
}

.container-timeline::-webkit-scrollbar {
  width: 5px;
}

.container-timeline::-webkit-scrollbar-thumb {
  background: #2f4858;
 
}

.container-timeline::-webkit-scrollbar-track {
  background: #e5e5e5;
}

.chart-container-1 {
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
}



.tier-points {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.totalTierPoints {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 5px;
}