<nav class="flex items-center justify-between bg-white px-5 h-[80px] shadow-sm w-full box-border">
  <div class="flex items-center justify-between w-full">
    <!-- Left Section -->
    <div class="flex items-center gap-2">
      <button (click)="toggleSidebar()"
              class="p-2 bg-none border-none cursor-pointer transition-transform hover:bg-white-smoke-30 rounded-md"
              [ngClass]="{ 'rotate-180': isRotated }">
        <img src="assets/icons/menuBar.svg" alt="Toggle Sidebar" class="w-5 h-5 transition-transform duration-300" />
      </button>
      <div class="flex items-center">
        <input type="search" placeholder="Search"
               class="w-50 p-2 border border-white-edgar rounded focus:outline-primary focus:border-none">
      </div>
    </div>

    <!-- Right Section -->
    <div class="flex items-center gap-x-6">
      <button class="p-2 bg-none border-none cursor-pointer transition hover:bg-white-smoke-30 rounded-md">
        <img src="assets/icons/globe.svg" alt="Global" class="w-5 h-5" />
      </button>
      <button class="p-2 bg-none border-none cursor-pointer transition hover:bg-white-smoke-30 rounded-md">
        <img src="assets/icons/bell.svg" alt="Notifications" class="w-5 h-5" />
      </button>
      <button class="p-2 bg-none border-none cursor-pointer transition hover:bg-white-smoke-30 rounded-md"
              (click)="toggleFullScreen()">
        <img src="assets/icons/fullScreen.svg" alt="Full Screen" class="w-5 h-5" />
      </button>
      <div class="h-7 w-px bg-white-edgar"></div>
      <div class="flex items-center gap-2">
        <img src="assets/icons/avatar.svg" alt="User" class="w-8 h-8 rounded-full" />
        <span>John</span>
      </div>
      <div class="h-7 w-px bg-white-edgar"></div>
      <button class="p-2 bg-none border-none cursor-pointer transition hover:bg-white-smoke-30 rounded-md">
        <img src="assets/icons/cog.svg" alt="Settings" class="w-5 h-5" />
      </button>
    </div>
  </div>
</nav>
