<div class="py-6">
  <div class="flex items-center justify-between mb-8 bg-white border border-white-edgar rounded p-6 gap-x-8">
    <div class="flex-1 relative" *ngFor="let step of steps; let i = index">
      <div class="border-2 rounded p-4 shadow-md transition-all duration-300"
           [ngClass]="currentStep >= step.number ? 'bg-primary-10 border-primary' : 'bg-white border-white-edgar'">
        <div [ngClass]="currentStep === step.number ? 'text-primary text-[10px]' : 'text-neutral-gray text-[10px]'">
          Step {{step.number}}
        </div>
        <div [ngClass]="currentStep >= step.number ? 'text-black font-bold' : 'text-neutral-gray font-bold'">
          {{step.title}}
        </div>
      </div>
    </div>
  </div>

  <!-- Step content containers -->
  <div [ngSwitch]="currentStep">
    <app-customer-details *ngSwitchCase="1" (stepChange)="updateStep($event)"></app-customer-details>
    <app-product-selection *ngSwitchCase="2"></app-product-selection>
    <!--<app-time-slot *ngSwitchCase="3"></app-time-slot>-->
    <!--<app-confirmation *ngSwitchCase="4"></app-confirmation>-->
  </div>
</div>
