<aside class="sidebar" [class.collapsed]="isCollapsed">
  <div class="sidebar-content">
    <!-- Sidebar Header -->
    <div class="sidebar-header">
      <img src="assets/logo/logoFilled.svg" alt="Main Logo" class="logo" />
      <h1 *ngIf="!isCollapsed">Ajeek</h1>
    </div>

    <!-- Navigation Section -->
    <nav class="navigation">
      <span *ngIf="!isCollapsed">Menu</span>
      <a routerLink="/dashboard/partner" routerLinkActive="active" class="nav-item">
        <img src="assets/icons/dashboard.svg" alt="Dashboard Logo" class="MenuItem" />
        <span *ngIf="!isCollapsed">Dashboard</span>
      </a>
      <a routerLink="/dashboard/tickets" routerLinkActive="active" class="nav-item">
        <img src="assets/icons/tickets.svg" alt="Tickets Logo" class="MenuItem" />
        <span *ngIf="!isCollapsed">Tickets</span>
      </a>
      <a routerLink="/technician" routerLinkActive="active" class="nav-item">
        <img src="assets/icons/technicians.svg" alt="Technician Logo" class="MenuItem" />
        <span *ngIf="!isCollapsed">Technician</span>
      </a>
      <a routerLink="/chat" routerLinkActive="active" class="nav-item">
        <img src="assets/icons/chat.svg" alt="Chat Logo" class="MenuItem" />
        <span *ngIf="!isCollapsed">Chat</span>
      </a>
      <a routerLink="/alert" routerLinkActive="active" class="nav-item">
        <img src="assets/icons/alerts.svg" alt="Alert Logo" class="MenuItem" />
        <span *ngIf="!isCollapsed">Alerts</span>
      </a>
    </nav>

    <!-- Logout Section -->
    <div class="logout">
      <a routerLink="/login" class="nav-item">
        <img src="assets/icons/signOut.svg" alt="Logout Logo" class="MenuItem" />
        <span *ngIf="!isCollapsed">Logout</span>
      </a>
    </div>
  </div>
</aside>
