<div class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50"
     *ngIf="isVisible"
     (click)="closeModal()">
  <div class="bg-white py-8 px-6 rounded w-[850px] relative"
       (click)="$event.stopPropagation()">
    <!-- Close Button -->
    <button (click)="closeModal()"
            class="absolute top-6 right-6 p-2 border border-neutral-gray rounded-[2px]">
      <img src="assets/icons/close.svg"
           alt="Close"
           class="w-6 h-6" />
    </button>

    <div class="bg-[#F6F6F6] mt-12 mb-6 p-4 rounded">
      <h2 class="font-bold text-h5 mb-0">Enter Product Details</h2>
      <p class="font-normal text-p text-secondary">
        Fill in the details below
      </p>
    </div>

    <form (ngSubmit)="saveProduct()" class="space-y-6">
      <div class="grid grid-cols-4 gap-4">
        <div>
          <label for="productName" class="block mb-1 text-h6 font-bold">Product Name</label>
          <input type="text"
                 id="productName"
                 [(ngModel)]="productData.productName"
                 name="productName"
                 placeholder="Enter product name"
                 required
                 class="w-full py-3 px-2 border rounded focus:border-primary focus:outline-none text-secondary placeholder-neutral-gray" />
        </div>
        <div>
          <label for="brand" class="block mb-1 text-h6 font-bold">Brand</label>
          <select id="brand"
                  [(ngModel)]="productData.brand"
                  name="brand"
                  required
                  class="w-full py-3 px-2 border rounded focus:border-primary focus:outline-none text-secondary">
            <option value="" disabled selected>Select a brand</option>
            <option *ngFor="let brand of brands" [value]="brand">{{ brand }}</option>
          </select>
        </div>
        <div>
          <label for="model" class="block mb-1 text-h6 font-bold">Model</label>
          <input type="text"
                 id="model"
                 [(ngModel)]="productData.model"
                 name="model"
                 placeholder="Enter model number"
                 required
                 class="w-full py-3 px-2 border rounded focus:border-primary focus:outline-none text-secondary placeholder-neutral-gray" />
        </div>
        <div>
          <label for="productType" class="block mb-1 text-h6 font-bold">Product Type</label>
          <select id="productType"
                  [(ngModel)]="productData.productType"
                  name="productType"
                  required
                  class="w-full py-3 px-2 border rounded focus:border-primary focus:outline-none text-secondary">
            <option value="" disabled selected>Select a product type</option>
            <option *ngFor="let type of productTypes" [value]="type">{{ type }}</option>
          </select>
        </div>
      </div>

      <!-- Second Row -->
      <div class="grid grid-cols-4 gap-4">
        <div>
          <label for="serialNumber" class="block mb-1 text-h6 font-bold">Serial Number</label>
          <input type="text"
                 id="serialNumber"
                 [(ngModel)]="productData.serialNumber"
                 name="serialNumber"
                 placeholder="Enter serial number"
                 required
                 class="w-full py-3 px-2 border rounded focus:border-primary focus:outline-none text-secondary placeholder-neutral-gray" />
        </div>
        <div>
          <label for="purchaseDate" class="block mb-1 text-h6 font-bold">Purchase Date</label>
          <div class="relative">
            <input type="date"
                   id="purchaseDate"
                   [(ngModel)]="productData.purchaseDate"
                   name="purchaseDate"
                   required
                   class="w-full py-3 px-2 border rounded focus:border-primary focus:outline-none text-secondary" />
            <img src="assets/icons/calendar.svg"
                 alt="Calendar"
                 class="absolute top-4 right-4 w-4 h-4" />
          </div>
        </div>
        <div>
          <label for="warrantyStatus" class="block mb-1 text-h6 font-bold">Warranty Status</label>
          <div class="relative">
            <input type="date"
                   id="warrantyStatus"
                   [(ngModel)]="productData.warrantyStatus"
                   name="warrantyStatus"
                   required
                   class="w-full py-3 px-2 border rounded focus:border-primary focus:outline-none text-secondary" />
            <img src="assets/icons/calendar.svg"
                 alt="Calendar"
                 class="absolute top-4 right-4 w-4 h-4" />
          </div>
        </div>
        <div>
          <label for="lastServiceDate" class="block mb-1 text-h6 font-bold">Last Service Date</label>
          <div class="relative">
            <input type="date"
                   id="lastServiceDate"
                   [(ngModel)]="productData.lastServiceDate"
                   name="lastServiceDate"
                   required
                   class="w-full py-3 px-2 border rounded focus:border-primary focus:outline-none text-secondary" />
            <img src="assets/icons/calendar.svg"
                 alt="Calendar"
                 class="absolute top-4 right-4 w-4 h-4" />
          </div>
        </div>
      </div>

      <div class="bg-[#F6F6F6] mt-12 mb-6 p-4 rounded">
        <h2 class="font-bold text-h5 mb-0">Product Address</h2>
        <p class="font-normal text-p text-secondary">
          Please enter the current location of the above product.
        </p>
      </div>

      <div class="grid grid-cols-2 gap-4">
        <div>
          <label for="address" class="block mb-1 text-h6 font-bold">Address</label>
          <input type="text"
                 id="address"
                 [(ngModel)]="productData.address"
                 name="address"
                 placeholder="Enter street address"
                 required
                 class="w-full py-3 px-2 border rounded focus:border-primary focus:outline-none text-secondary placeholder-neutral-gray" />
        </div>
        <div>
          <label for="apartment" class="block mb-1 text-h6 font-bold">Apartment</label>
          <input type="text"
                 id="apartment"
                 [(ngModel)]="productData.apartment"
                 name="apartment"
                 placeholder="Enter apartment details"
                 required
                 class="w-full py-3 px-2 border rounded focus:border-primary focus:outline-none text-secondary placeholder-neutral-gray" />
        </div>
      </div>

      <div class="grid grid-cols-4 gap-4">
        <div>
          <label for="country" class="block mb-1 text-h6 font-bold">Country</label>
          <select id="country"
                  [(ngModel)]="productData.country"
                  name="country"
                  required
                  class="w-full py-3 px-2 border rounded focus:border-primary focus:outline-none text-secondary">
            <option value="" disabled selected>Select country</option>
            <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
          </select>
        </div>
        <div>
          <label for="state" class="block mb-1 text-h6 font-bold">State/Province</label>
          <select id="state"
                  [(ngModel)]="productData.state"
                  name="state"
                  required
                  class="w-full py-3 px-2 border rounded focus:border-primary focus:outline-none text-secondary">
            <option value="" disabled selected>Select state</option>
            <option *ngFor="let state of states" [value]="state">{{ state }}</option>
          </select>
        </div>
        <div>
          <label for="city" class="block mb-1 text-h6 font-bold">City</label>
          <select id="city"
                  [(ngModel)]="productData.city"
                  name="city"
                  required
                  class="w-full py-3 px-2 border rounded focus:border-primary focus:outline-none text-secondary">
            <option value="" disabled selected>Select city</option>
            <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
          </select>
        </div>
        <div>
          <label for="zipCode" class="block mb-1 text-h6 font-bold">Zip Code</label>
          <input type="text"
                 id="zipCode"
                 [(ngModel)]="productData.zipCode"
                 name="zipCode"
                 placeholder="Enter zip code"
                 required
                 class="w-full py-3 px-2 border rounded focus:border-primary focus:outline-none text-secondary placeholder-neutral-gray" />
        </div>
      </div>

      <div class="mt-4 flex justify-end gap-x-4">
        <app-button label="Save"
                    type="submit"
                    buttonType="primary"
                    customClass="py-3 px-6"></app-button>
        <app-button label="Save & Continue"
                    type="submit"
                    buttonType="secondary"
                    customClass="py-3 px-6"></app-button>
      </div>
    </form>
  </div>
</div>
